<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4" *ngFor="let item of items">
      <img src="{{item.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" *ngFor="let item of items">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.text}}</p>
        <p class="card-text"><small class="text-body-secondary">{{item.subText}}</small></p>
      </div>
    </div>
  </div>
</div>